.spinner {
    @extend %center;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.spinner__icon {
    width: 62%;
    display: block;
    pointer-events: none;
    animation: spin 2s linear infinite;
    margin: 0 auto $baseline;
}
